@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán VnPay tại <a href="https://code-mega.com">Code Mega</a></h1>
    <p>Learn about <a href="https://code-mega.com">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="table-responsive">
    <form asp-action="CreatePaymentUrl" id="frmCreateOrder" method="POST">
        <div class="form-group">
            <label for="ordertype">Loại hàng hóa </label>
            <select name="OrderType" id="ordertype" class="form-control">
                <option value="electric">Bouquet</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control"
                   id="Name"
                   name="Name"
                   type="text"
                   value="@ViewBag.PaymentName" readonly>
        </div>
        <br />
        <div class="form-group">
            <label for="Amount">Amount</label>
            <input class="form-control"
                   id="Amount"
                   name="Amount"
                   type="text"
                   value="@ViewBag.PaymentAmount" readonly>
        </div>
        <br />
        <div class="form-group">
            <label for="OrderDescription">Order Description</label>
            <textarea class="form-control"
                      cols="20"
                      id="OrderDescription"
                      name="OrderDescription"
                      rows="2"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
</div>