@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<body>

    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                    </li>
                    <li class="active">About us </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="welcome-area pt-100 pb-95">
        <div class="container">
            <div class="welcome-content text-center">
                <h5>Who Are We</h5>
                <h1>Welcome To Java Florist</h1>
                <p>At Java Florist, we understand that every occasion deserves a touch of beauty and elegance. That's why we take pride in offering a stunning array of meticulously crafted bouquets that are sure to captivate your senses and bring joy to your special moments.</p>
            </div>
        </div>
    </div>

    <div class="about-mission-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Enchanted Elegance</h3>
                        <p> Immerse yourself in the enchanting beauty of our Enchanted Elegance bouquet. Delicate roses, lilies, and baby's breath dance together in harmonious hues, creating a captivating symphony of colors that will leave a lasting impression.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Whispering Petals</h3>
                        <p> Experience the gentle whispers of nature with our Whispering Petals bouquet. This arrangement features an exquisite blend of pastel blooms, including tulips, daisies, and carnations, which come together in a harmonious embrace that symbolizes love and unity.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Vibrant Serenity</h3>
                        <p> Add a pop of vibrancy to any space with our Vibrant Serenity bouquet. Bursting with lively sunflowers, gerbera daisies, and irises, this arrangement exudes positivity and radiance, making it a perfect gift to brighten someone's day.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Timeless Romance</h3>
                        <p> Indulge in the allure of classic romance with our Timeless Romance bouquet. Deep red roses intertwine with lush greenery, embodying the timeless language of love and affection that transcends generations.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Serenading Orchids</h3>
                        <p> Elevate your senses with the elegant charm of our Serenading Orchids bouquet. Graceful orchids, in hues ranging from pristine white to rich magenta, create an air of sophistication and refinement that is truly captivating.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-mission mb-30">
                        <h3>Charming Bliss</h3>
                        <p> Embrace the charm of simplicity with our Charming Bliss bouquet. Sweet daisies, chrysanthemums, and baby's breath come together in a delightful ensemble that speaks of pure and unpretentious beauty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area pt-95 pb-70">
        <div class="container">
            <div class="section-title-2 text-center mb-60">
                <h2>Team Members</h2>
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="~/images/about-us/tin.jpg" width="370" height="450" alt="">
                            </a>

                        </div>
                        <div class="team-content text-center">
                            <h4>Mr.TIN</h4>
                            <span>Student1370240</span> <br>
                            <span>Co-founder & CEO </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="~/images/about-us/minh.jpg" width="370" height="450" alt="">
                            </a>

                        </div>
                        <div class="team-content text-center">
                            <h4>Mr.MINH</h4>
                            <span>Student1370242</span> <br>
                            <span>Co-founder & Sales Manager </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="~/images/about-us/phat.jpg" width="370" height="450" alt="">
                            </a>
                        </div>
                        <div class="team-content text-center">
                            <h4>Mr.PHAT</h4>
                            <span>
                                Student1372897
                            </span> <br>
                            <span>Co-founder & Trusted Florist </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
   </div>
</body>
