@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<body>
    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a asp-action="Index">Home</a>
                    </li>
                    <li class="active">Terms and conditions </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Blog-area pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12">
                    <div class="blog-details-wrapper ml-20">
                        <div class="blog-details-top">
                            <div class="blog-details-content">
                                <p align="center"><span style="font-size: large;"><strong>Terms and conditions</strong></span></p>
                                <p align="center"><strong>Apply from August 11, 2023</strong></p>
                                <p><br /> <em>The following contract terms are an agreement between the parties, including:</em><br />  <br /> <strong>-  Java Flower Joint Stock Company</strong> - 590 Cach Mang Thang Tam, Ward 11, District 3 is the owner of the website <a href="http://localhost:5021/"><strong><em>http://localhost:5021/</em></strong></a><strong>,</strong> hereinafter referred to as <strong>Java Florist</strong>.</p>
                                <p>- The customer places an order which means that the customer unconditionally accepts the terms contained in the Terms of Purchase</p>
                                <p>All information on the website including articles, images, process design is copyrighted by Java Flower Joint Stock Company, strictly prohibited acts of copying and sharing for business purposes.</p>
                                <p>Individuals or organizations that place orders online through the company's website:  <strong>http://localhost:5021/</strong>, e-commerce website, or phone order hereinafter referred to as: “<strong>Customers</strong>”.<br /> <br /> Customers after making a purchase will be called “<strong>Buyer</strong>”. Buyer will be understood to accept the rights and obligations of the customer.<br /> <br /> Any request to place an order on the website <a href="http://localhost:5021/">http://localhost:5021/</a><strong> </strong>or through support tools (telephone, yahoo, skype, etc.) is understood that the customer has understood and accepted the terms specified in this article. “ <strong>Terms of Purchase</strong> “. Understanding and acceptance of these terms is not required to be signed by the customer.<br /> <br /> Customers can access the content “ <strong>Terms of Purchase</strong> ” at any time on the website. The terms contained in these “ <strong>Terms of Purchase</strong> “ shall prevail in the event of any conflict of text or content.<br /> <br /> Customer information when registering will be checked and verified by our staff. This information will be used as necessary elements to make the purchase.</p>
                                <p>We reserve the right to change the content of the “ <strong>Terms of Purchase</strong> “ at any time. The applicable terms shall be those set forth at the time the purchase is made. Buyers should print and keep these rules. <br />  <br /> <strong>CLAUSE 1 – PURPOSE OF APPLICATION</strong><br />  <br />The contents of the “ <strong>Terms of Purchase</strong> “apply exclusively to our sales on  the <a href="http://localhost:5021/">http://localhost:5021/</a>website or by telephone order. Customer placing an order means unconditionally accepting the terms contained in the “ <strong>Terms of Purchase</strong> “. The information you use to register on our website will be used in your commitment to us.</p>
                                <p><br />On the contrary, all customer requests that are not accepted by our company are null and void. Our company reserves the right to change the content of these terms at any time. We recommend that customers check the website regularly to update the content of the terms of purchase. <br />  <br /> <strong>CLAUSE 2 – ACCESS TO THE WEBSITE </strong><br />  <br /> 2.1. Items priced other than 0đ (not dong) ordered on the website are all items customers can buy.<br /> <br /> 2.2. To be able to place an order, customers need to complete the procedure for providing personal contact information. In particular, customers need to fill in some mandatory information to be able to make the order. It is necessary for customers to enter accurate, specific and complete information. In case the customer provides false, inaccurate and incomplete information, our company reserves the right to refuse and cancel the order. The Client assumes full responsibility for all possible financial consequences during the use of the website using his registered account.<br /> <br /> 2.3. We advise customers to pay the following precautions:<br /> - Customers are only allowed to use and/or download the information contained on our website for personal, non-commercial and time-limited purposes.<br /> - Customers are not allowed to copy or use the content contained on our website on other websites.<br /> - Customers are not allowed to use, reuse, change, move, quote, replace, distribute ... directly or indirectly, in any form in whole or in part (images, content ...) contained on our website as well as the name, logo, logo of the website and of the company.<br /> - Please inform us of any such violations,  so that we have a solution to serve customers better.<br />  <br /> <strong>CLAUSE 3 – ORDER </strong><br />  <br /> Currently, we only accept orders delivered in India.<br /> Customers need to complete the requirements at checkout for their purchase to be able to place an order. After the customer purchases, we will check the information and make an order, customers can update the information through Java Florist.<br />  <br /> The information you use when registering with us will be used later in the delivery process. We reserve the right to suspend, cancel or reject all orders of a customer in case of problems related to the supply and payment information of previous orders. <br />  <br /> <strong>CLAUSE 4 – CONDITION OF GOODS</strong><br />  <br />Samples and prices are available when they appear on our website, within the limits of the amount of inventory available. In case customers want to order large quantities, customers need to contact us directly at Local Brand to be processed in the most accurate and fastest way.<br />  <br /> <strong>CLAUSE 5 – PRICE </strong><br />  <br /> All product prices are in USD, inclusive of shipping fees through our partners and inclusive of VAT (10%). Customers paying in Rupees (INR) will apply Vietcombank's foreign currency exchange rate at the time of payment. Clients can also transfer funds to us in other foreign currencies through Stipe. For details, please contact email address: <strong><em>javafloristshop@gmail.com</em></strong><em><br /> </em>We accept shipments nationwide <br /> We reserve the right to change the price of goods at any time, but always at the most reasonable price with the best quality to improve competitiveness and ensure the interests of customers. <br />  <br /> <strong>CLAUSE 6 – DELIVERY AND SHIPPING DEADLINES </strong><br />  <br /> <strong>6.1 General conditions</strong></p>
                                <p>The goods will be delivered at the address stated by the customer when ordering. Customers are responsible for providing all necessary information for the delivery process to take place smoothly such as: Recipient's name, exact address, house number, province, street name, district name, ward, commune, phone number to contact... We are not responsible for cases of wrong address shipments due to customer error.</p>
                                <p>We do not refund any cases where the recipient does not receive the goods or has any problems arising related to the receipt of the goods.</p>
                                <p><strong>6.2 Delivery Time</strong> <br /><br />- After receiving the customer's advance payment, we will deliver it on time requested by the customer, in case the delivery time is not suitable, we will discuss in advance. Orders are only made with the consent of both parties. <br /><br />- Delivery time may be earlier or later than 60 minutes, depending on weather or traffic conditions in the geographical area where the delivery is made.</p>
                                <p><strong>6.3 Delivery problems</strong> <br /><br />The delivery will be made by the partner selected by us. Goods during transportation may be subject to unintended risks such as breakage, damage ... Customers need to carefully check the status of the package as well as the number of orders. All complaints related to the shipment of goods need to be notified to us by the customer within 1 hour after receiving the goods. Customers can notify : <br /> - Contact directly by phone in the contact section<br /> - Send feedback to email address: <a href="mailto:javafloristshop@gmail.com">javafloristshop@gmail.com</a></p>
                                <p><strong>CLAUSE 7 – PAYMENT</strong></p>
                                <p>Customers can pay via Stripe. <br />  <br /> <strong>CLAUSE 8 – CUSTOMER CARE</strong></p>
                                <p>Customers have any questions or questions regarding our products, our customer care agents are always ready to answer. </p>
                                <p>Service time 24/24. Please see more information in the Contact section.</p>
                            </div>
                        </div>
                        
                
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
